# Ignore Python cache and environment files
__pycache__/
*.py[cod]
*.ipynb_checkpoints
.env
.env.*
 
# VSCode settings
.vscode/
 
# Jupyter Notebook checkpoints
.ipynb_checkpoints/
 
# Conda environment files
*.conda
*.egg-info/
*.egg
*.pkl
 
# Kaggle API key
.kaggle/
 
# Data files (do not push large or downloaded files)
data/*.csv
data/*.tsv
data/*.zip
!data/.keep
 
# OS-specific files
.DS_Store
Thumbs.db
 
 